@model SmartLoan.Models.ChangePassword;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <h3 class="text-center">Change Password</h3>
    <div class="d-flex justify-content-center align-content-center">
        <div class="w-50">

            <div asp-validation-summary="All" class="text-danger">
            </div>
            <form method="post" asp-controller="User" asp-action="ChangePassword">
                <div class="mb-3">
                    <label asp-for="@Model.CurrentPassword"></label>
                    <input asp-for="@Model.CurrentPassword" class="form-control"/>
                    <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.NewPassword"></label>
                    <input asp-for="@Model.NewPassword" class="form-control" />
                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ConfirmPassword"></label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary"> Submit </button>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}

